.App {
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons_field{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
}

.bottom_field {
  position: fixed;
  left: 0;
  top: 10%;
  width: 100%;
  height: 90%;
}

.buttons_for_creation_plan_field{
  position: fixed;
  left: 0;
  top: 10%;
  width: 15%;
  height: 90%;
}

.canvas_field{
  position: fixed;
  left: 15%;
  top: 10%;
  width: 85%;
  height: 90%;
  /*overflow: scroll;*/
}

.create_new_plan_button, .get_all_plans_button, .get_report, .bottom_field{
  /*visibility: hidden;*/ /*Когда будешь показывать раскомментируй*/
}